body {
	font-family:Arial, Helvetica, sans-serif;
}

h2 {
	font-family: "Times New Roman", Times, serif !important;
	font-size:35px !important;
	margin:30px 0px !important;
}

p a {
	color:#444444;
	text-decoration:underline;
}

.container, .container-fluid {
	margin-top:0px !important;
}

.padding {
	padding-bottom:60px !important;
}

#recommender {
	background-color:#fafafa;
}

#main-menu {
	background-color:black; 
}

#main-menu li a {
	color:white;
}
#main-menu li a:hover {
	background-color:white;
	color:black;
}

#main-banner {
	padding: 0px 0px;
	margin-top:0px !important;
	background-image: url("../images/jeremy-bentham.jpg");
	background-repeat:no-repeat;
	background-position:left top;
	background-size:100%;
}

.content {
	color:white;
}

.content h1 {
	font-family: "Times New Roman", Times, serif;
	font-size:55px;
	margin:80px 0px;
}

#banner-description {
	width:50%;
	line-height:1.6em;
}


.progress-bar-success {
	width:44.12%; 
	height:40px !important; 
	position:relative;padding:10px;
}

#carousel{
	max-width:1120px;
	white-space:nowrap;
	overflow-y:hidden;
	overflow-x:scroll;
}

#images  img {
	max-height:300px;
}

#carousel ul, li:first-child {
	padding-left:0px;
}

#carousel li {
	display:inline-block;
	list-style:none;
	margin:0px 20px 0px 20px;
	-webkit-box-shadow:3px 3px 5px #acacac;
	-moz-box-shadow:3px 3px 5px #acacac;
	box-shadow:3px 3px 5px #acacac;
}
.login ul {
	list-style:none;
	margin:30px 0px 20px 0px;
}
.login a {
	color:black;
}

.black_button {
	border:1px solid black;
	background-color:white;
	color:black;
	height:40px;
	width:150px;
	margin-top:40px;
	margin-left:0px;
}
.black_button:hover{
	background-color:white;
	color:black;
}

.dark_button {
	border:1px solid black;
	background-color:black;
	color:white;
	height:40px;
	width:150px;
	margin-top:40px;
	margin-left:0px;
}
.dark_button:hover{
	background-color:white;
	color:black;
	border:1px solid black;
}

.transparent_button {
	border:1px solid black;
	background-color:white;
	color:black;
	height:40px;
	border-radius:6px;
}

.transcribe_button {
	background-color:white;
	color:black;
	height:60px;
	border-radius:6px;
	height:60px !important; 
	padding:0px 20px;
}

.glyphicon-search {
	font-size:40px;
}

.glyphicon-wrench {
	font-size:40px;
}

.glyphicon-floppy-open {
	font-size:40px;
}


/* form */ 



button.btn {
    height: 50px;
    margin: 0;
    margin-top:10px;
    padding: 0 20px;
    vertical-align: middle;
    background: #000000;
    ;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #000000;
    ;
    color: #fff;
}

button.btn:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #000000;
    ;
    color: #fff;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
    outline: 0;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}


/***** Top content *****/

.form-box {
    font-family: 'Roboto', sans-serif !important;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #000000;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    color: #fff;
    transition: opacity .3s ease-in-out;
}

.form-top h3 {
    color: #fff;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
    transition: all .4s ease-in-out;
}

.form-bottom:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

form .form-bottom button.btn {
    min-width: 105px;
}

form .form-bottom .input-error {
    border-color: #d03e3e;
    color: #d03e3e;
}

form.registration-form fieldset {
    display: none;
}


.btn{
	margin:7px;
}

.difficulty_level {
	height:60px;
	border:1px solid black;
	padding-left:40px;
	padding-right:40px;
	border-radius: 10px;
	margin-right:10px;
	background-color:white;
}

#FAQ {
	background-color: #fafafa;
	padding:30px;
	text-align:left;
}

#FAQ ul {
	list-style: none;
	padding:0px;
}

#FAQ a {
	color:black;
	text-decoration: underline;
}

.zoom {
	margin:0px;
	width:40px;
}
.zoom:first-child{
	margin-top:10px;
}

#manuscript_list {
	padding-top:30px;
	padding-bottom:30px !important;
}
#manuscript_list img {
	height:300px;
}

#manuscript_list ul {
	margin:0;
	padding:0;
}

#manuscript_list li {
	float:left;
	list-style:none;
	margin:10px;
}

#manuscript_list li p {
	margin-bottom:0px;
}

#manuscript_list li p:first-child {
	margin-top:10px;
}

.dropdown {
	height:40px;
	border:1px solid black;
	border-radius:none;
}

#filter {
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
}

#filter div{
	margin:10px;
	display:inline-block;
}

footer {
	background-color:black;
	color:white;
	padding:30px;
}

footer a{
	color:white;
	text-decoration:underline;
}
 

.zoom-in {      
	-webkit-transition: all 0.35s ease-in-out;    
	-moz-transition: all 0.35s ease-in-out;    
	transition: all 0.35s ease-in-out;     
	cursor: -webkit-zoom-in;      
	cursor: -moz-zoom-in;      
	cursor: zoom-in;  
}     

.zoom-in:hover,  
.zoom-in:active,   
.zoom-in:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(3.5);    
-moz-transform: scale(3.5);  
-webkit-transform: scale(3.5);  
-o-transform: scale(3.5);  
transform: scale(3.5);    
position:relative;      
z-index:10000;  
}

.up {
	color: #09b743;
	font-weight:bold;

}

.medium {
	color: #ffa50a;
	font-weight:bold;
}

.far {
	color: #ff2b2b;
	font-weight:bold;
}

.search {
	width: 330px; 
	height:40px !important;
}